body {
  background-color: rgb(218, 245, 255);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 5px black ;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input, textarea, select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 105);
}
textarea {
    resize: none;
}
h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  display: block;
  font: inherit;
  color: white;
  background-color: rgb(32, 5, 63);
  border-color: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(49, 7, 97);
  border-color: rgb(49, 7, 97);
}

.form-control-inline {
  display: flex;
}
.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
