body {
  background-color: rgb(221, 254, 255);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

form {
  width: 40rem;
  margin: 3rem auto;
  background-color: rgb(238, 251, 252);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(63, 63, 63) ;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  display: block;
}

input, textarea, select {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 105);
  border-radius: 3px;
}
textarea {
    resize: none;
}
h1 {
    text-align: center;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(220, 189, 255);
  border-color: rgb(223, 195, 255);
}

button {
  display: block;
  font: inherit;
  color: white;
  background-color: rgb(34, 50, 68);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  border-width: 1px;
}

#reply li {
  height: 1rem;

}

#reply input {
  margin: 0;
}
#reply label {
  margin: 6px 0 5px 5px;
  padding: 0;

}


#reply {
  margin: 0.5rem 0;
  
}


.form-control-inline {
  display: flex;
}
.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}


#agreeterms {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#buttons {
  display: flex;
  justify-content: end;
}


#reset {
  background-color: rgb(238, 251, 252);
  color:rgb(61, 58, 105);
  margin-right: 0.5rem;
}